<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="m-1 container" style="text-align: center;">

    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <div>
            <label></label>
            <span>Login</span>
        </div>
        <!--<div th:if="${param.error}"><span th:text="${param.exception}" style="color: red;"></span></div>-->
        <div class="form-group">
            <label></label>
            <div th:if="error">
                <p id="valid" style="color: red;"><a th:text="${exception}"></a></p>
            </div>
            <input type="text" th:field="*{username}" class="form-control" placeholder="username">

        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}" class="form-control" placeholder="password">
            <label></label>
        </div>

        <div>
            <label></label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">로그인</button>
    </form>
    <div>
        <label></label>
    </div>
    <form th:action="@{/joinForm}" method="get">
        <button type="submit" class="btn btn-primary btn-block">회원가입</button>
    </form>

    <div style="text-align: center;">
        <a href="/oauth2/authorization/google">
            <img src="/icon/oauth2_google.png" width="152" height="38">
        </a>
        <a href="#">
            <img src="/icon/oauth2_kakao.png" width="144" height="36">
        </a>
        <a href="#">
            <img src="/icon/oauth2_naver.png" width="144" height="36">
        </a>
    </div>

    <br/>

</div> <!-- /container -->


</body>
</html>
