<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <form th:action="@{/logout}" method="get">
        <div style="text-align: right;">
            <button type="submit" class="btn btn-primary btn-block">로그아웃</button>
        </div>
    </form>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>사이트</th>
                <th>설명</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bookmark : ${bookmarks}">
                <td>
                    <a th:href="${bookmark.siteUrl}" target="_blank">
                        <label th:text="${bookmark.siteUrl}"/>
                    </a>
                </td>
                <td th:text="${bookmark.explanation}"></td>
                <!--<td th:text="${bookmark.directory.id}"></td>-->
                <td>
                    <form th:action="@{/bookmarks/{id}/update (id=${bookmark.id})}" method="get">
                        <button class="btn btn-primary btn-xs">수정</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/bookmarks/{id}/delete (id=${bookmark.id})}" method="post">
                        <button class="btn btn-danger btn-block btn-xs">X</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form th:action="@{/bookmarks/create}" method="get">
        <div style="text-align: right;">
            <button type="submit" class="btn btn-primary btn-block">북마크 추가</button>
        </div>
    </form>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>폴더이름</th>
                <th>이전번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="directory : ${directories}">
                <td th:text="${directory.directoryName}"></td>
                <td th:text="${directory.prevDirectoryId}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <form th:action="@{/directories/create}" method="get">
        <div style="text-align: right;">
            <button type="submit" class="btn btn-primary btn-block">새 폴더 추가</button>
        </div>
    </form>

</div> <!-- /container -->

</body>
</html>
